<div class="d-flex flex-column flex-shrink-0 p-3 bg-light h-100 fixed-top" style="width:20em; height:100%; z-index:0;">
  <ul class="nav nav-pills flex-column mb-auto" style="margin-top:3rem;">
    <li class="nav-item">
      <a href="/profiles" class="nav-link <%- profiles ? 'active' : 'link-dark' %>" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        Profiles
      </a>
    </li>
    <li>
      <a href="/qrcodes" class="nav-link <%- qr_codes ? 'active' : 'link-dark' %>">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#qr-code"></use>
        </svg>
        QR Codes
      </a>
    </li>
  </ul>
  <hr>
  <button type="button" class="btn float-end">
    <svg class="bi me-2" width="20" height="20">
      <use xlink:href="#double-left"></use>
    </svg>
  </button>
</div>